# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "764af1329eb2271ac7181ceb3da1854d"
name = "Corporate Addresses"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_orders"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
